body {
    font-family: "細黑體", Arial;
    font-size: 16px;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
  color: #fffed6;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fffed6;
}

p {
  margin: 0 0 10px;
}

footer {
    clear: both;
}

h4 {
    font-size: 1.2em;
    padding: 30px 0;
}

.main-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.main-header::before,
.main-header::after {
    display: table;
    content: " ";
}
.main-header::after {
    clear: both;
}
.titlebar {
    min-height: 67px;
    height: 67px;
    border: 1px solid transparent;
    color: #ffffff;
    background-image: url('../content/titlebar_image.png');
    background-color: #88bf65;
    width: 100%;
    max-width: 100%;
}
.titlebar::before,
.titlebar::after {
    display: table;
    content: " ";
}
.titlebar::after {
    clear: both;
}
.titlebar-container {
    height: 67px;
    line-height: 67px;
    padding: 0 13.3% 0 12.8%;
}
.titlebar-left {
    float: left;
}
.titlebar-left > a {
    padding: 0 15px;
}
.titlebar-left > a,
.titlebar-right > a,
.titlebar-left > a:link,
.titlebar-right > a:link,
.titlebar-left > a:visited,
.titlebar-right > a:visited {
    color: #ffffff;
    padding: 0 15px;
}
.titlebar-left > a:focus,
.titlebar-left > a:hover,
.titlebar-right > a:focus,
.titlebar-right > a:hover {
    color: #c2c2c2;
}
.titlebar-right {
    float: right;
}
.titlebar-right > a {
    padding: 0 10px;
}

.facebook {
    width: 48px; 
    height: 40px; 
    vertical-align: middle;
}
.instagram {
    width: 48px; 
    height: 40px; 
    vertical-align: middle;
}
.twitter {
    width: 48px; 
    height: 40px; 
    vertical-align: middle;
}
.youtube {
    width: 62px; 
    height: 40px; 
    vertical-align: middle;
}
.line {
    width: 48px; 
    height: 40px; 
    vertical-align: middle;
}
.google {
    width: 48px; 
    height: 40px; 
    vertical-align: middle;
}
.navbar {
    background-color: #ffffff;
    position: relative;
    min-height: 271px;
    height: 271px;
    border-bottom: 4px solid #4f9588;
    padding: 0 11.8%;
}
.logo {
    position: absolute;
    height: 271px;
    padding-top: 90px; 
    width: 280px;
    left: 11.8%;
}
.triangle-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 10px 0 10px;
    border-color: #4f9588 transparent transparent transparent;
    margin: 10px auto 0 auto;
}
.triangle-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 13px 10px;
    border-color: transparent transparent #c2c2c2 transparent;
    margin: 10px auto 0 auto;
}
.menu-bar > a {
    color: #000000;
}
.menu1 {
    height: 151px;
    line-height: 30px;
    padding-top: 20px;
    margin-left: 25.1%;
    width: 75%;
    border-bottom: 4px solid #4f9588;
}
.menu2 {
    padding-top: 20px;
    height: 120px;
    margin-left: 25.1%;
}
.menu1 > ul > li,
.menu2 > ul > li {
    display: inline-block;
    width: 16%;
    padding: 20px 0 20px 1%;
    text-align: center;
    vertical-align: top;
}
.menu1 > ul > li a,
.menu2 > ul > li a,
.menu1 > ul > li a:link,
.menu2 > ul > li a:link {
    color: #4f9588;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
}
.menu1 > ul > li > .active,
.menu2 > ul > li > .active {
    color: #c2c2c2;
}
.submenu {
    background-color: #4f9588;
    color: #ffffff;
    z-index: 2;
    position: absolute;
    width: 100%;
    max-width: 100%;
    text-align: center;
    opacity: 0.9;
    left: 0;
    padding: 0 11.8%;
}
.submenu > ul {
    width: 100%;
    max-width: 100%;
}
.submenu > ul::before,
.submenu > ul::after {
    display: table;
    content: " ";
}
.submenu > ul::after {
    clear: both;
}
.submenu > ul > li {
    float: left;
    width: 25%;
    text-align: left;
    padding: 20px 0;
}
.submenu > ul > li > a::before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #ffffff;
    margin-right: 10px;
 }
.submenu > ul > li > a {
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
}
.submenu > ul > li > i {
    display: inline-block;
}
.submenu > ul > li > ul > li {
    padding: 5px 0 0 20px;
}
.submenu > ul > li > ul > li > a,
.submenu > ul > li > ul > li > a:link,
.submenu > ul > li > a:visited,
.submenu > ul > li > ul > li > a:visited {
    color: #ffffff;
    font-weight: lighter;
}
.submenu > ul > li > a:focus,
.submenu > ul > li > a:hover,
.submenu > ul > li > ul > li > a:focus,
.submenu > ul > li > ul > li > a:hover {
    color: #ededed;
}
.slideshow-container {
    width: 100%;
    max-width: 100%;
    height: 990px;
    position: relative;
    padding-top: 338px;
    margin: auto;
    background-color: #ededed;
}
.slideshow > img {
    height: 652px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 65%;
    width: auto;
    margin-top: -22px;
    padding: 16px 83px;
    color: #c2c2c2;
    transition: 0.6s ease;
}
.prev:focus, 
.next:focus,
.prev:hover, 
.next:hover {
    color: #c2c2c2;
}
.next {
    right: 0;
}
.dot-container {
    width: 100%;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 67px;
}
.dot {
    cursor:pointer;
    height: 10px;
    width: 25px;
    background-color: #ededed;
    border-radius: 10%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover,
.dot-container > .active {
    background-color: #4f9588;
}
.slider-fade {
    -webkit-animation-name: slider-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: slider-fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes slider-fade {
    from {opacity: .4}
    to {opacity: 1}
}
.nationalaffairs-container {
    background-color: #fffed6;
    background-image: url('../content/NationalAffairs.png');
    background-repeat: no-repeat;
    background-size: 26% 146px;
    height: 146px;
    width: 100%;
    max-width: 100%;
}
.nationalaffairs-image {
    width: 23%;
    text-align: right;
    height: 146px;
    padding: 29px 0;
    float: left;
}
.nationalaffairs-image > img {
    width:94px; 
    height:88px;
}
.nationalaffairs-content {
    float: left;
    color: #4f9588;
    height: 146px;
    width: 47%;
    padding: 40px 0 0 5%;
}
.nationalaffairs-content > a,
.nationalaffairs-other > a {
    color: #4f9588;
}
.nationalaffairs-other {
    float: left;
    height: 146px;
    width: 30%;
    padding: 40px 226px 0 0;
    text-align: right;
}
.newsandcalendar-container::before,
.newsandcalendar-container::after {
    display: table;
    content: " ";
}
.newsandcalendar-container::after {
    clear: both;
}
.news {
    background-color: #ffffff;
    float: left;
    margin: 103px 3% 212px 11.8%;
    width: 43.8%;
}
.news-header,
.calendar-header {
    border-bottom: 2px solid #4f9588;
    padding-bottom: 26px;
    height: 40px;
    color: #4f9588;
}
.border-bottom-3px {
    border-bottom: 3px solid #4f9588;
    padding-bottom: 10px;
}
.news-header-text {
    width: 180px;
    height: 40px;
}
.calendar {
    margin: 103px 11.8% 122px 0px;
    width: 29.3%;
    background-color: #ffffff;
    float: left;
}
.news-detail {
    border-bottom: 2px solid #4f9588;
    padding: 40px 10px;
    color: #4f9588;
    height: 160px;
}
.news-content > ul > li > .active {
    background-color: #fffed6;
}
.news-others {
    text-align: right;
}
.calendar-header-text {
    width: 120px;
    float: left;
    height: 40px;
}
.calendar-select {
    font-size: 1.2em;
    height: 104px;
    padding: 35px 0;
}
.calendar-select > a,
.calendar-select > a:link,
.calendar-select > a:visited,
.calendar-select > a:focus,
.calendar-select > a:hover {
    color: #4f9588;
}
.calendar-now {
    display: inline-block;
    margin: 10px;
    color: #4f9588;
}
.calendar-detail {
    height: 530px;
}
.calendar-detail > ul > li {
    float: left;
    text-align: center;
}
.calendar-week > li {
    background-color: #4f9588;
    color: #fffed6;
    border-bottom: 1px solid #c2c2c2;
    width: 14%;
    height: 55px;
    line-height: 55px;
}
.calendar-day > li {
    line-height: 95px;
    width: 14%;
    height: 95px;
    background-color: #ffffff;
    color: #4f9588;
    border-bottom: 2px solid #c2c2c2;
}
.calendar-day > .day-first,
.calendar-day > .day-last {
    background-color: #ededed;
}
.calendar-day > .today {
    border-bottom: 4px solid #c2c2c2;
}
.calendar-day > .active {
    border-bottom: 4px solid #ffd400;
}
.calendar-content > ul > li {
    height: 70px;
    padding: 10px 10px 20px 20px;
    color: #4f9588;
    margin: 10px 0;
}
.calendar-content > ul > .active {
    background-color: #4f9588;
    color: #fffed6;
}
.slidevideo-container,
.activity-container {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: auto;
}
.slidevideo-container::before,
.slidevideo-container::after,
.activity-container::before,
.activity-container::after {
    display: table;
    content: " ";
}
.slidevideo-container::after,
.activity-container::after {
    clear: both;
}
.slidevideo-container {
    background-color: #ededed;
    height: 655px;
}
.activity-container {
    background-color: #ffffff;
    height: 1691px;
}
.activity-arrow-prev,
.activity-arrow-next {
    display: none;
}
.slidevideo-arrow-prev,
.slidevideo-arrow-next,
.activity-arrow-prev,
.activity-arrow-next {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: #c2c2c2;
    transition: 0.6s ease;
    padding: 0 5%;
}
.slidevideo-arrow-prev:focus, 
.slidevideo-arrow-prev:hover,
.activity-arrow-prev:focus,
.activity-arrow-prev:hover,
.slidevideo-arrow-next:focus, 
.slidevideo-arrow-next:hover,
.activity-arrow-next:focus,
.activity-arrow-next:hover {
    color: #c2c2c2;
}
.slidevideo-arrow-next,
.activity-arrow-next {
    right: 0;
}
.slidevideo-main,
.activity-main {
    width: 100%;
    max-width: 100%;
    padding: 0 11.8%;
}
.slidevideo-title,
.activity-title {
    border-bottom: 2px solid #4f9588;
    margin: 0 auto;
}
.slidevideo-title > p {
    padding: 80px 0 29px 0;
    margin: 0 auto;
    width: 100px;
    height: 151px;
    text-align: center;
    color: #4f9588;
}
.activity-title > p {
    padding: 79px 0 22px 0;
    margin: 0 auto;
    width: 100px;
    height: 131px;
    text-align: center;
    color: #4f9588;
}
.slidevideo-content {
    max-width: 100%;
    width: 100%;
    height: 410px;
    position: relative;
    margin: 0 auto;
}
.activity-content {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 63px 7.4% 20px 7.4%;
}
.slidevideo-content > div {
    margin: 44px 1% 0 1%;
}
.slidevideo-video {
    height: 261px;
    background-color: #4f9588; 
    overflow: hidden;
}
.slidevideo-text {
    height: 101px;
    padding-top: 40px;
    background-color: #fffed6; 
    color: #4f9588;
    overflow: hidden;
}
.slidevideo-content-first,
.slidevideo-content-third {
    width: 31%;
    float: left; 
}
.slidevideo-content-second {
    width: 32%;
    float: left;
}
.activity-content > div {
    height: 420px;
    margin: 16px 0;
}
.activity-picture {
    width: 50%;
    height: 420px;
    background-color: #4f9588; 
    float: left;
    overflow: hidden;
}
.activity-article {
    width: 50%;
    height: 420px;
    background-color: #fffed6;
    color: #4f9588; 
    float: left;
    overflow: hidden;
}
.activity-text {
    padding: 88px 10px 88px 50px;
}
.activity-others {
    text-align: right;
    padding-right: 50px;
}
.slidevideo-other,
.activity-moreother {
    clear: both;
    text-align: center;
    position: relative;
}
.slidevideo-other > a {
    margin-top: 29px;
}
.activity-moreother > a {
    margin-top: 38px;
}
.footer-link {
    background-color: #eaf9dc;
    width: 100%;
    max-width: 100%;
    color: #4f9588;
    height: 306px;
}
.footer-first > a,
.footer-second > a,
.footer-third > a,
.footer-forth > a {
    color: #4f9588;
    display: block;
    margin: 10px 0;
}
.footer-first > a:focus,
.footer-first a:hover,
.footer-second > a:focus,
.footer-second a:hover,
.footer-third > a:focus,
.footer-third a:hover,
.footer- > a:focus,
.footer-first a:hover {
    color: #c2c2c2;
}
.footer-first {
    float: left;
}
.footer-second,
.footer-third {
    float: left;
    border-left: 2px solid #4f9588;
}
.footer-forth {
    float: left;
}
.footer-copyright {
    background-image: url('../content/titlebar_image.png');
    background-color: #88bf65;
    color: #ffffff;
    text-align: center;
    height: 67px;
    line-height: 67px;
}
.footer-copyright > p {
    margin: 0;
}
.content-menu {
    float: left;
    margin-right: 2%;
    width: 29.4%;
    padding: 358px 0 0 11.8%;
}
.content-menu > ul {
    list-style: none;
    
}
.content-menu > ul > li {
    display: block;
}
.content-mainmenu {
    color: #ffffff;
    background-color: #4f9588;
    height: 130px;
    text-align: left;
    padding: 25% 10%;
}
.content-submenu {
    color: #000000;
    background-color: #ededed;
    height: 65px;
    text-align: left;
    padding: 8% 5%;
}
.content-menu > ul > .active {
    background-color: #c2c2c2;
}
.content-container {
    float: left;
    width: 68.2%;
    padding: 358px 11.8% 0 0;
    margin-bottom: 50px;
    min-height: 500px;
}
.content-subtitle {
    margin-bottom: 30px; 
}
.content-breadcrumb {
    float: left;
    width: 60%;
    color: #c2c2c2;
    font-size: 0.8em;
}
.content-breadcrumb > a,
.content-breadcrumb > a:link,
.content-breadcrumb > a:visited {
    color: #c2c2c2;
    font-size: 0.8em;
    display: inline;
}
.content-tools {
    float: left;
    width: 40%;
    color: #c2c2c2;
    font-size: 0.8em;
}
.content-tools::after {
    display: table;
    content: " ";   
}
.content-tools::after {
    clear: both;
}
.content-functionname {
    width: 100%;
    max-width: 100%;
    padding-bottom: 45px;
    color: #4f9588;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 2px solid #4f9588;
}
.content {
    width: 100%;
    max-width: 100%;
}
.table-striped {
    letter-spacing: 2px;
}
.table-striped > thead > tr > th {
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}
.table-striped > thead > tr > .left {
    text-align: left;
}
.table-striped > tbody > tr > td,
.table-striped > thead > tr > th {
    border-right: 2px solid #c2c2c2;
}
.table-striped > tbody > tr > td:last-child,
.table-striped > thead > tr > th:last-child {
    border-right: none;
}
.table-striped > tbody > tr:nth-child(2n) >td,
.table-striped > tbody > tr:nth-child(2n) >th,
.table-striped > thead > tr > th {
    background-color: #ededed;
}
.table-striped > tbody > tr > td {
    padding: 15px;
}

/* */
.help-block {
    display: block;
}
.sub-title {
    font-weight: bold;
    font-size: 1.3em;
}
.hidden {
    display: none;
}
.others-btn > a,
.others-btn > a:link {
    display: inline-block;
    background-color: #4f9588;
    width: 212px;
    height: 69px;
    text-align: center;
    line-height: 70px;
    color: #fffed6;
}
.others-btn > a:visited {
    color: #fffed6;
}
.others-btn > a:focus,
.others-btn > a:hover {
    color: #c2c2c2;
}
.col-sm-25 {
    width: 25%;
}
.text-left {
    text-align: left;
}

@media (min-width: 1920px) {
    .activity-container {
        height: 1691px;
    }
    .footer-first {
        width: 25%;
        height: 180px;
        line-height: 30px;
        padding: 0 20px 0 11.8%;
        margin-top: 70px;
    }
    .footer-second {
        width: 17.3%;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-third {
        width: 21.1%;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-forth {
        width: 36.6%;
        height: 180px;
        line-height: 15px;
        padding: 0 11.8% 0 20px;
        margin-top: 70px;
    }
}
@media (min-width: 1280px) and (max-width: 1600px) {
    .activity-container {
        height: 1691px;
    }
    .footer-first {
        width: 25%;
        height: 180px;
        line-height: 30px;
        padding: 0 20px 0 11.8%;
        margin-top: 70px;
    }
    .footer-second {
        width: 17.3%;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-third {
        width: 21.1%;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-forth {
        width: 36.6%;
        height: 180px;
        line-height: 15px;
        padding: 0 11.8% 0 20px;
        margin-top: 70px;
    }
    /*.footer-first {
        width: 275px;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-second {
        width: 300px;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-third {
        width: 250px;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-forth {
        width: 455px;
        height: 180px;
        line-height: 15px;
        padding: 0 20px;
        margin-top: 70px;
    }*/
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .titlebar-container {
        height: 67px;
        line-height: 67px;
        padding: 0;
    }
    .navbar {
        padding: 20px 10px;
    }
    .menu1,
    .menu2 {
        margin-left: 320px;
    }
    .nationalaffairs-container {
        background-size: 290px 146px;
    }
    .news {
        margin: 100px 42px 138px 35px;
    }
    .calendar {
        margin: 100px 35px 75px 0px;
    }
    .slidevideo-main,
    .activity-main {
        padding: 0 35px;
    }
    .activity-container {
        height: 1100px;
    }
    .activity-content {
        padding: 20px 57px;
    }
    .activity-picture,
    .activity-article {
        height: 273px;
    }
    .activity-text {
        padding: 55px 10px 20px;
    }
    .footer-link {
        font-size: 0.9em;
    }
    .footer-first {
        width: 250px;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-second {
        width: 250px;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-third {
        width: 200px;
        height: 180px;
        line-height: 30px;
        padding: 0 20px;
        margin-top: 70px;
    }
    .footer-forth {
        width: 324px;
        height: 180px;
        line-height: 15px;
        padding: 0 20px;
        margin-top: 70px;
    }
}
@media (max-width: 768px) {
    .titlebar-container {
        height: 67px;
        line-height: 67px;
        padding: 0;
    }
    .navbar {
        padding: 10px;
        height: 110px;
        min-height: 110px;
    }
    .logo {
        padding: 0;
        height: 100px;
        width: 200px;
    }
    .menu1,
    .menu2 {
        display: none;
    }
    .nationalaffairs-container {
        background-size: 230px 146px;
    }
    .news {
        margin: 100px 35px 50px 35px;
        width: 698px;
    }
    .calendar {
        margin: 50px 35px 75px 35px;
        width: 698px;
    }
    .slidevideo-main,
    .activity-main {
        padding: 0 20px;
    }
    .activity-picture,
    .activity-article {
        height: 273px;
    }
    .activity-text {
        padding: 35px 10px 25px;
    }
    .footer-link {
        font-size: 0.7em;
    }
    .footer-first {
        width: 180px;
        height: 180px;
        line-height: 30px;
        padding: 0 10px;
        margin-top: 70px;
    }
    .footer-second {
        width: 180px;
        height: 180px;
        line-height: 30px;
        padding: 0 10px;
        margin-top: 70px;
    }
    .footer-third {
        width: 170px;
        height: 180px;
        line-height: 30px;
        padding: 0 10px;
        margin-top: 70px;
    }
    .footer-forth {
        width: 238px;
        height: 180px;
        line-height: 15px;
        padding: 0 10px;
        margin-top: 70px;
    }
}
/*@media (max-width: 414px) {*/
@media (max-width: 736px) {
    .titlebar-container {
        height: 67px;
        line-height: 67px;
        padding: 0;
    }
    .titlebar-left {
        display: none;
    }
    .titlebar-right {
        float: none;
        text-align: center;
    }
    .navbar {
        padding: 10px;
        height: 50px;
        min-height: 50px;
    }
    .logo {
        padding: 0;
        height: 40px;
        width: 100px;
    }
    .menu1,
    .menu2 {
        display: none;
    }
    .menu-bar {
        display: block;
        z-index: 2;
        margin-left: 90%;
    }
    .nationalaffairs-container {
        background-color: #fffed6;
        background-image: none;
        height: 146px;
        width: 100%;
        max-width: 100%;
    }
    .nationalaffairs-image {
        display: none;
    }
    .nationalaffairs-content {
        float: none;
        height: 96px;
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }
    .nationalaffairs-other {
        float: none;
        height: 50px;
        width: 100%;
        max-width: 100%;
        padding: 0;
        text-align: center;
    }
    .newsandcalendar-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 5%;
    }
    .news {
        margin: 52px 0;
        width: 100%;
    }
    .calendar {
        margin: 52px 0;
        width: 100%;
    }
    .slidevideo-arrow-prev,
    .slidevideo-arrow-next,
    .activity-arrow-prev,
    .activity-arrow-next {
        padding: 0;
        display: block;
    }
    .slidevideo-main,
    .activity-main {
        padding: 0;
    }
    .slidevideo-title,
    .activity-title {
        width: 90%;
    }
    .slidevideo-content-first,
    .slidevideo-content-third {
        width: 10%; 
    }
    .slidevideo-content-second {
        width: 74%; 
    }
    .activity-container {
        height: 580px;
    }
    .activity-picture {
        height: 183px;
        width: 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .activity-article {
        height: 136px;
        width: 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 183px;
    }
    .activity-text {
        padding: 10px 5px;
    }
    .activity-content {
        height: 365px;
    }
    .activity-content > .active {
        width: 76%;
        height: 319px;
        margin: 0 auto;
        padding: 0 2%;
        position: absolute;
        left: 12%;
        top: 40px;
    }
    .activity-content > .non-active {
        width: 10%;
        height: 319px;
        margin: 0 auto;
        position: absolute;
        top: 40px;
    }
    .activity-content > .left {
        left: 0;
    }
    .activity-content > .right {
        right: 0;
    }
    .activity-others {
        text-align: center;
    }
    .footer-link {
        font-size: 0.9em;
        height: 480px;
    }
    .footer-first,
    .footer-second,
    .footer-third,
    .footer-forth {
        float: none;
        border: none;
        width: 100%;
        max-width: 100%;
        margin: 0;
        line-height: 15px;
    }
    .footer-first {
        padding: 20px 10px 0 10px;
        height: 120px;
    }
    .footer-second {
        padding: 0 10px;
        height: 90px;
    }
    .footer-third {
        padding: 0 10px;
        height: 100px;
    }
    .footer-forth {
        padding: 20px 10px 0 10px;
        line-height: 5px;
    }


    .others-btn > a {
        width: 180px;
        height: 50px;
        line-height: 50px;
    }
}